<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fruitzzz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoo"
        android:label="Fruitzzz"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fruitzzz">
        <activity
            android:name=".FruitInfoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".NewsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileEditPageActivity"
            android:exported="false" />
        <activity
            android:name=".DestinationActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".ReminderAddActivity"
            android:exported="false" />
        <activity
            android:name=".ReminderActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Information"
            android:exported="false" />
        <activity
            android:name=".InfoDetails"
            android:exported="false" />
        <activity
            android:name=".RecipeDetails"
            android:exported="false" />
        <activity
            android:name=".OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".CurrentActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication"
            android:exported="false" />
    </application>

</manifest>